.SuperHeroCard {
       background-size: cover;
       background-position: 50%;
       width: 250px;
       margin: 8px 25px;
       border: 5px solid #f1f1f1;
       border-radius: 3px;
       -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
       0 3px 6px rgba(0, 0, 0, .23);
       box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
       0 3px 6px rgba(0, 0, 0, .23);
       cursor: pointer;
       

}

.SuperHeroList-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
  min-height: 80%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

.SuperHeroCard>.img-container {
    height: 250px;
  
  overflow: hidden;
  text-align: center;
  background:#6CADDC;

}

.SuperHeroCard>.img-container>img {

 width:100%

}
